@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "variables/*";
@import "base/*";
@import "layouts/*";
@import "components/*";

.visible-xs {
  display: none !important;
}

.hidden-xs {
  display: block !important;
}

@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }

  .hidden-xs {
    display: none !important;
  }
}
