<header class="py-3 position-absolute">
  <div class="container">
    <div class="row justify-content-between">
      <span class="col-sm-4"><%= link_to image_tag('logo.png', height: "40"), root_path, class: "logo-link" %></span>
      <span class="col-sm-7">
        <nav class="primary-nav text-sm-right pt-1">
          <%= link_to "Nav Link", root_path, class: "nav-item" %>
          <%= link_to "Login", root_path, class: "btn btn-outline invert ml-3" %>
        </nav>
      </span>
    </div>
  </div>
</header>
